visualEditor/src/main/resources/AsistenteDeReglas.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://bfdev64:8095/servicios/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://bfdev64:8095/servicios/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Acceso a la base de datos de ClearQuest desde un servicio Web</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://bfdev64:8095/servicios/">
      <s:element name="crearRegistroEnClearQuest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="textoXML" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="nombreDeArchivo" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="datosDeArchivo" type="s:base64Binary"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="crearRegistroEnClearQuestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="crearRegistroEnClearQuestResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="crearRegistroEnClearQuestSoapIn">
    <wsdl:part name="parameters" element="tns:crearRegistroEnClearQuest"/>
  </wsdl:message>
  <wsdl:message name="crearRegistroEnClearQuestSoapOut">
    <wsdl:part name="parameters" element="tns:crearRegistroEnClearQuestResponse"/>
  </wsdl:message>
  <wsdl:portType name="AsistenteDeReglasSoap">
    <wsdl:operation name="crearRegistroEnClearQuest">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Se conecta a ClearQuest y crea un registro</wsdl:documentation>
      <wsdl:input message="tns:crearRegistroEnClearQuestSoapIn"/>
      <wsdl:output message="tns:crearRegistroEnClearQuestSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AsistenteDeReglasSoap" type="tns:AsistenteDeReglasSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="crearRegistroEnClearQuest">
      <soap:operation soapAction="http://bfdev64:8095/servicios/crearRegistroEnClearQuest" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AsistenteDeReglasSoap12" type="tns:AsistenteDeReglasSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="crearRegistroEnClearQuest">
      <soap12:operation soapAction="http://bfdev64:8095/servicios/crearRegistroEnClearQuest" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AsistenteDeReglas">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Acceso a la base de datos de ClearQuest desde un servicio Web</wsdl:documentation>
    <wsdl:port name="AsistenteDeReglasSoap" binding="tns:AsistenteDeReglasSoap">
      <soap:address location="http://gsytsissgp01/CQ/AsistenteDeReglas.asmx"/>
    </wsdl:port>
    <wsdl:port name="AsistenteDeReglasSoap12" binding="tns:AsistenteDeReglasSoap12">
      <soap12:address location="http://gsytsissgp01/CQ/AsistenteDeReglas.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>